cc65/a.out
cc65/crt0.o
cc65/irq.o
cc65/main.l
cc65/main.m
cc65/main.o
cc65/main.s
cc65/mem_init.mem
cc65/none.lib
fpga_image.h
main.bin
resized_flash.bin
rtl/uart_vhd_6502.v
rtl/version_string.svh
cycloneiv_quartus/db/
cycloneiv_quartus/incremental_db/
cycloneiv_quartus/output_files/
main.sof

