cc65/*.out
cc65/*.o
cc65/*.l
cc65/*.m
cc65/*.o
cc65/*.s
cc65/*.c
cc65/*.h
cc65/*.py
cc65/*.mem
cc65/none.lib
llvm/*.py
llvm/*.out*
llvm/*.s
llvm/*.c
llvm/*.h
llvm/*.mem
rv32_gcc/*.py
rv32_gcc/*.out*
rv32_gcc/irq.s
rv32_gcc/crt0.s
rv32_gcc/*.c
rv32_gcc/*.h
rv32_gcc/*.mem
rv32_gcc/*.map
rv32_gcc/*.elf
fpga_image.h
main.bin
resized_flash.bin
rtl/uart_vhd_cpu.v
rtl/version_string.svh
cycloneiv_quartus/db/
cycloneiv_quartus/incremental_db/
cycloneiv_quartus/output_files/
main.sof
file_list.qsf
result_*.txt
output_*.txt
.vscode/*

